.content__item{
    display: inline-block;
    width: 200px;
    height: 270px;
    margin: 10px;

}

.mini__grow{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item__img{
    width: 120px;
}

.content__item__text{
    text-align: left;
    margin-left: 10px;
}

.content__item__prise{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.content__item__prise:nth-child(1){
    margin-left: 10px;
}

.content__item__box{
    border-radius: 10px;
    margin-top: 7px;
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    background-image: url('../icon/packet.png');
}

.content__item__box:hover{
    cursor: pointer;
}

.content__item__box:active{
    
}

